!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Sing Up
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
  %body
    .conteanier_new
      .header_new
        .fl
          %a{:href => "#."}
            %img{:alt => "image", :border => "0", :src => "/assets/logo.png"}/
        .fr
          %a.login_button{:href => "/users/sign_in"} Login
        .clr
        .account_heading Create Your Account
        .account_heading_text Please use the fields given below to create your account on CloudBookings, please keep this information used here safe with you, you need this to use our services.

      .body_area_new
        .account_details_box Account Details
        = form_for(resource, :url => registration_path(resource),:html => {:class => "registration_form"}) do |f|
          .all_field_box
            .account_field_row
              .field_account_col1
                .field_account_text First Name
                .field_account
                  =f.text_field :first_name, :class=>"field_account_size"
              .field_account_col1
                .field_account_text Last Name
                .field_account
                  =f.text_field :last_name, :class=> "field_account_size"
              .clr
            .account_field_row
              .field_account_col1
                .field_account_text Email
                .field_account
                  =f.text_field :email ,:class=> "field_account_size"
              .field_account_col1
                .field_account_text Country
                .field_account.blue_select
                  %select.chzn-select{:class=>"step_select_bar", :style => "width:238px", :id=>"user_country_id", :name => "user[country_id]", :prompt => 'Select a country'}
                    = options_from_collection_for_select @countries, :id, :country_name, :selected => "#{params[:country]}"
              .clr
            .account_field_row
              .field_account_col1
                .field_account_text Password
                .field_account
                  =f.password_field :password, :class=>"field_account_size"
              .field_account_col1
                .field_account_text Confirm Password
                .field_account
                  =f.password_field :password_confirmation, :class=> "field_account_size"
              .clr
            .account_field_row
              .field_account_col1
                .field_account_text Address
                .field_account
                  =f.text_field :address, :class=> "field_account_size"
              .field_account_col1
                .field_account_text Phone Number
                .field_account
                  =f.text_field :phone, :class=> "field_account_size"
              .clr
            .account_field_row
              .field_account_col1
                .field_account_text Date of birth
                .field_account
                  =f.text_field :date_of_birth, :class=> "field_account_size2 date", :readonly=>"readonly"
              .field_account_col1
                .field_account_text Gender
                .field_account.blue_select
                  = f.select 'gender', options_for_select($gender), {}, {:class => "chzn-select",:style => "width:238px"}
              .clr
            .agree_box
              .agree_check_box
                =f.check_box :terms
              .agree_text I agree to the terms of service and privacy policy.
              .fl
                %a{:href => "#.", :class=>"submit_button"}
                  %img{:alt => "image", :border => "0", :src => "/assets/account.png"}/
              .clr
      .footer
        %div
          %img{:alt => "image", :border => "0", :src => "/assets/BORDER_TOP.png"}/
        .footer_text_box_new
          .footer_text
            %a{:href => "#."} Terms of Service
          .footer_text_new
            |
          .footer_text
            %a{:href => "#."} Privacy Policy
          .footer_text_new
            |
          .footer_text
            %a{:href => "#."} Support
          .footer_text_new
            |
          .footer_text
            %a{:href => "#."} Contact Us
          .clr
        %div
          %img{:alt => "image", :border => "0", :src => "/assets/BORDER_TOP.png"}/
:javascript
  $(document).ready(function(){
    $(".chzn-select").chosen();
    $(".chzn-select-deselect").chosen({allow_single_deselect:true});
    $('.date').click(function(event){$('#ui-datepicker-div').css('z-index','30');});
    $('.date').datepicker({
       onSelect: function(dateText, inst){
         selDate = dateText;

         }
    });
    formvalidation();
  });
  function formvalidation()
  {
    $(".registration_form").validate({
      rules :{
        "user[first_name]":{
          required: true
        },
        "user[email]":{
          required: true,
          email: true
        },
        "user[password]":{
          required: true,
          minlength: 8
        },
        "user[password_confirmation]":{
          required: true,
          minlength: 8,
          equalTo: '.field_account #user_password'
        },
        "user[phone]": {
          required: true,
          digits: true
        }
      },
      messages: {

      },
      submithandler: function(form)
      {
       form.submit();
      }

    });
  }


  $(".submit_button").click(function(event){
    formvalidation();
    $(".registration_form").submit();
  });
