%html
  %head
    %title Ruby on Rails: Welcome aboard
  %body
    .content
      .title_heading
        %h1 Event Checkin System
      %img{:src=>"/assets/under_construction.gif", :alt=>"Under Construction"}
