!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title PeopleCheck::Home
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
  %body
    .conteanier_home
      .all_header_box
        .header_home
          .fl
            %a{:href => "#."}
              %img{:alt => "image", :border => "0", :src => "/assets/small_logo.png"}/
          .dashed_text_box
            .dashed_text
              %a{:href => "#."} Dashboard
            .dashed_text2
              %a{:href => "#."} Apps
            .dashed_text3
              %a{:href => "#."} I want this !
            .clr
          .header_field_box
            %input.header_field_size{:placeholder => "Search", :type => "text"}/
          .checkin_box
            .checkin_box_text
              %a{:href => "#."} CheckIn
            .checkin_box_text
              %a{:href => "#."} Profile
            .checkin_box_text
              %a{:href => "#."} Event
            .checkin_box_text
              %a{:href => "#."} Setting
            .clr
          .refresh_row
            .refresh_box
              .fl
                %a{:href => "#."}
                  %img{:alt => "image", :border => "0", :src => "/assets/refresh.png"}/
              .refresh_text
                %a{:href => "#."} Reset
              .clr
            .refresh_box
              .fl
                %a{:href => "#."}
                  %img{:alt => "image", :border => "0", :src => "/assets/theme.png"}/
              .refresh_text2
                %a{:href => "#."} Theme
              .clr
            .refresh_box
              .fl
                %a{:href => "#."}
                  %img{:alt => "image", :border => "0", :src => "/assets/logout.png"}/
              .refresh_text
                %a{:href => "#."} Logout
              .clr
            .clr
          .clr
      .body_area_wrepper
        .all_profile_box
          .home_col1
            .home_image_box
              %div
                %a{:href => "#."}
                  %img{:alt => "image", :border => "0", :src => "/assets/user_image.png"}/
              .home_image_text Profile
            .home_image_box
              %div
                %a{:href => "#."}
                  %img{:alt => "image", :border => "0", :src => "/assets/user_image2.png"}/
              .home_image_text Appointments
          .home_col1
            .home_image_box
              %div
                %a{:href => "#."}
                  %img{:alt => "image", :border => "0", :src => "/assets/user_image3.png"}/
              .home_image_text Events
            .home_image_box
              %div
                %a{:href => "#."}
                  %img{:alt => "image", :border => "0", :src => "/assets/user_imager.png"}/
              .home_image_text Arrangments
            .home_image_box
              %div
                %a{:href => "#."}
                  %img{:alt => "image", :border => "0", :src => "/assets/user_image5.png"}/
              .home_image_text News
          .fl
            .home_image_box2
              %div
                %a{:href => "#."}
                  %img{:alt => "image", :border => "0", :src => "/assets/user_image6.png"}/
              .home_image_text2 News
            .home_image_box2
              %div
                %a{:href => "#."}
                  %img{:alt => "image", :border => "0", :src => "/assets/user_image7.png"}/
              .home_image_text2 Setting
            .home_image_box2
              %div
                %a{:href => "#."}
                  %img{:alt => "image", :border => "0", :src => "/assets/user_image8.png"}/
              .home_image_text2 Deals
          .clr
        .image_box
          %img{:alt => "image", :border => "0", :src => "/assets/image.png"}/
        .clr
      .all_footer
        .footer
          %div
            %img{:alt => "image", :border => "0", :src => "/assets/BORDER_TOP.png"}/
          .footer_text_box_new
            .footer_text
              %a{:href => "#."} Terms of Service
            .footer_text_new
              |
            .footer_text
              %a{:href => "#."} Privacy Policy
            .footer_text_new
              |
            .footer_text
              %a{:href => "#."} Support
            .footer_text_new
              |
            .footer_text
              %a{:href => "#."} Contact Us
            .clr
          %div
            %img{:alt => "image", :border => "0", :src => "/assets/BORDER_TOP.png"}/
:javascript
  $(document).ready(function(){
    $(".chzn-select").chosen();
    $(".chzn-select-deselect").chosen({allow_single_deselect:true});
  });
