@charset "utf-8";
/* CSS Document */

body{
	background:url(/assets/project_bg.png) repeat-x #fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;}

*{
	padding:0px;
	margin:0px;}
	
.clr{
	clear:both;}
	
.fl{
	float:left;}
	
.fr{
	float:right;}
.hidden{
    display: none;
}
	
.conteanier{
	width:546px;
	margin:auto;}	
	
.conteanier_new{
	width:850px;
	margin:auto;}	
	
.header{
	text-align:center;
	background:url(/assets/header_bg.png) no-repeat;}
	
.header_new{
	padding:26px 14px 34px;}						
	
.logo_image{
	padding:44px 0px 72px;
	float:left;
	text-align:right;
	width:360px;}
	
.body_area{
	padding:20px 0px 8px 22px;
	background:url(/assets/body_bg.png) repeat-x;
	border-radius:5px;
	border:1px solid #ecf5f4;
	border-top:none;}
	
.body_col_1{
	float:left;
	width:300px;}			

.body_col_1_text{
	font-size:22px;
	color:#0b5b89;
	padding-left:10px;
	font-family:HelveticaNeue, Arial, Helvetica, sans-serif;}	
	
.body_field{
	width:212px;
	padding-top:16px;}

.body_field_size{
	padding:4px 0 4px 6px;
	font-size:12px;
	color:#0b5e8c;
	width:200px;
	border:none;
	box-shadow:inset 1px 1px #cecece;
	border-radius:4px;
	height:28px;}	
	
.check_row{
	padding:6px 0px 12px 0px;}	
	
.check_text{
	font-size:11px;
	color:#0b5e8c;
	float:left;
	padding-left:4px;}
		
.account_text{
	font-size:11px;
	color:#39a9c4;
	padding-top:12px;}
	
.account_text a{
	color:#0b5e8c;}	
	
.col_2_text{
	color:#39a9c4;
	font-size:15px;
	padding-top:16px;
	font-family:HelveticaNeue, Arial, Helvetica, sans-serif;}	
	
.icons_box{
	padding-top:10px;}	
	
.icons_text{
	font-size:13px;
	float:left;
	font-family:HelveticaNeue, Arial, Helvetica, sans-serif;
	padding:4px 0px 0px 10px;}	
	
.icons_text a{
	text-decoration:none;
	color:#0b5b89;}	
	
.footer{
	margin:30px 0px 26px;
	text-align:center;}	
	
.footer_text_box{
	padding:18px 0px 18px 76px;}	
	
.footer_text{
	font-size:13px;
	float:left;}

.footer_text a{
	text-decoration:none;
	color:#8d8d8d;}

.footer_text a:hover{
	text-decoration:underline;}

.footer_text_new{
	float:left;
	color:#c1e7ec;
	padding:0px 8px;}	
	
a.login_button{
	text-decoration:none;
	color:#fff;
	text-shadow:1px 1px #333;
	display:block;
	padding:2px 2px 5px;
	min-width:100px;
	text-align:center;
	font-size:22px;
	background:url(/assets/login_button.png) no-repeat;
	font-family:Myriad Pro;}	
	
.account_heading{
	font-size:22px;
	color:#fff;
	padding-top:22px;
	font-family:HelveticaNeue, Arial, Helvetica, sans-serif;
	text-shadow:2px 2px #298ea9;
	border-bottom:2px solid #fff;
	width:208px;
	margin-bottom:10px;
	padding-bottom:6px;}	
	
.account_heading_text{
	font-size:15px;
	color:#fff;
	font-family:HelveticaNeue, Arial, Helvetica, sans-serif;}	
	
.body_area_new{
	padding:18px 14px 28px 12px;
	background:url(/assets/back_bg.png) repeat-x #d2e7e6;
	border-radius:5px;
	border:1px solid #ecf5f4;
	border-top:none;}	
	
	
.account_details_box{
	padding:12px 0px 12px 14px;
	background:#509300;
	font-size:22px;
	color:#fff;
	font-family:HelveticaNeue, Arial, Helvetica, sans-serif;}	
	
.all_field_box{
	background:url(/assets/fields_box_bg.png) repeat-x #d3e7e6;
	box-shadow:0px 0px 2px 2px #d4dedd;
	margin-top:10px;
	padding-bottom:42px;
	border-radius:5px;}	
	
.account_field_row{
	padding:22px 0px 6px;}	
	
.field_account_col1{
	float:left;
	padding:0px 84px;}	
	
.field_account_text{
	font-size:16px;
	color:#39a9c4;
	font-family:HelveticaNeue, Arial, Helvetica, sans-serif;
	padding-bottom:6px;}	
	
.field_account{
	width:242px;}	
	
.field_account_size{
	width:230px;
	padding:4px;
	height:30px;
	border:none;
	background:#68c4cf;
	color:#fff;
	box-shadow:inset 1px 1px #549ea7;}	
	

.field_account_col1 .blue_select .chzn-container-single .chzn-single {
    background:#68c4cf;
	padding:8px;
	border:none;
	color:#fff;
	box-shadow:inset 1px 1px #549ea7;
    height: 22px;}	
	
.field_account_col1 .blue_select .chzn-container-single .chzn-single div b{
	background:url(/assets/down_arow.png) no-repeat;}
	
.field_account_col1 .blue_select .chzn-container-single .chzn-single div{
	width:24px;
	top:12px;}	
	
.field_account_size2{
    background:url(/assets/clender.png) no-repeat 2% 38% #68C4CF;
    border: medium none;
    box-shadow: 1px 1px #549EA7 inset;
    color: #fff;
    height: 30px;
    padding: 4px 4px 4px 80px;
    width: 154px;}	
	
.agree_box{
	margin:72px 0px 0px 96px;
	background:#509300;
	width:653px;}
	
.agree_text{
	width:485px;
	color:#fff;
	font-family:HelveticaNeue, Arial, Helvetica, sans-serif;
	font-size:16px;
	margin-top:12px;
	padding-left:14px;
	float:left;}	
	
.agree_check_box{
	float:left;
	margin:16px 0px 0px 12px}	
	
.home_tabs_box{
	float:left;
	padding:32px 0px 0px 86px;}	
	
.home_tabs{
	margin:0px 12px;
	float:left;
	font-family:HelveticaNeue, Arial, Helvetica, sans-serif;
	font-size:20px;}

.home_tabs a{
	text-decoration:none;
	color:#fff;}	
	
.logout_button_box{
	float:right;
	margin-top:32px;}
	
.home_row{
	background:#71c6d0;
	border:1px solid #a6dce5;
	border-radius:5px;
	margin-top:30px;
	margin-left:-18px;
	padding:14px 18px 12px 20px;}		
	
.home_row_text{
	font-size:22px;
	color:#fff;
	font-family:HelveticaNeue, Arial, Helvetica, sans-serif;
	text-shadow:2px 2px #5ca1a9;}	
	
/* 15-01-2013 */	
	
.conteanier_home{}

.all_header_box{
	background:url(/assets/header_bg_new.png) repeat-x #232323;
	height:54px;
	margin-bottom:20px;
	position:fixed;
	z-index:999;
	width:100%;}	
	
.header_home{
	padding-left:12px;}	
	
.dashed_text_box{
	width:280px;
	float:left;
	padding-top:22px;
	padding-left:24px;}	
	
.dashed_text{
	font-size:12px;
	float:left;
	margin:0px 10px;
	}

.dashed_text a{
	color:#84937e;
	padding-left:14px;
	background:url(/assets/dashed.png) no-repeat left;
	text-decoration:none;}
	
.dashed_text2{
	font-size:12px;
	float:left;
	margin:0px 10px;
	}

.dashed_text2 a{
	color:#84937e;
	padding-left:14px;
	background:url(/assets/cart.png) no-repeat left;
	text-decoration:none;}		
	
.dashed_text3{
	font-size:12px;
	float:left;
	margin:0px 10px;
	}

.dashed_text3 a{
	color:#84937e;
	padding-left:14px;
	background:url(/assets/gift.png) no-repeat left;
	text-decoration:none;}			
	
.header_field_box{
	float:left;
	width:214px;
	padding-top:14px;}

.header_field_size{
	background: none repeat scroll 0 0 #626262;
    border: 1px solid #616161;
    border-radius: 20px 20px 20px 20px;
    color: #FFFFFF;
    font-size: 13px;
    height: 22px;
    padding: 2px 0 2px 8px;
    width: 140px;}	
	
.checkin_box{
	padding-top:18px;
	float:left;}	
	
.checkin_box_text{
	float:left;
	font-size:19px;
	font-family:Myriad Pro;
	margin:0px 9px;}

.checkin_box_text a{
	text-decoration:none;
	color:#fff;}	
	
.body_area_wrepper{
	padding:100px 0px 0px 0px;
	margin:auto;
	width:915px;}		
	
.refresh_row{
	float:left;
	padding-top:24px;
	padding-left:34px;}	
	
.refresh_box{
	float:left;
	margin:0px 8px;}	
	
.refresh_text{
	float:left;
	font-size:12px;
	padding-left:2px;}

.refresh_text a{
	text-decoration:none;
	color:#999999;}	
	
.refresh_text2{
	float:left;
	font-size:12px;
	padding-left:2px;}

.refresh_text2 a{
	text-decoration:none;
	color:#999999;
	padding-right:10px;
	background:url(/assets/arow.png) no-repeat right;}
	
.home_col1{
	float:left;
	width:268px;}	
	
.home_image_box{
	width:263px;
	margin-bottom:8px;}	
	
.home_image_text{
	background: url("/assets/text_bg.png") repeat-x scroll 0 0 transparent;
    font-family: HelveticaNeue,Arial,Helvetica,sans-serif;
    font-size: 26px;
	color:#fff;
    margin-top: -42px;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    width: 263px;
    z-index: 99;}	
	
.home_image_box2{
	width:126px;
	margin-bottom:8px;}	
	
.home_image_text2 {
    background: url("/assets/text_bg.png") repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    font-family: HelveticaNeue,Arial,Helvetica,sans-serif;
    font-size: 26px;
    margin-top: -42px;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    width: 126px;
    z-index: 99;}	
	
.all_footer{
	margin:auto;
	width:915px;}	
	
.footer_text_box_new{
    padding: 18px 0 18px 258px;}	
	
.image_box{
	position:absolute;
	z-index:22;
	margin-left:790px;}	
	
.all_profile_box{
	padding-top:76px;
	float:left;}	
	
/* 16-01-2013 */	
	
.john_name_box{
	border:1px solid #fff;
	background:#1c1c1c;
	float:right;
	margin-right:18px;
	padding:6px 12px 8px;}	

.body_wrepper_profile{
    margin: auto;
    padding: 58px 0 0;
    width: 915px;}	
	
.john_name{
	float:left;
	font-size:20px;
	color:#fff;
	padding-top:10px;
	font-family:Myriad Pro;
	width:138px;}	
	
.profile_body{
	background:url(/assets/body_area.png) no-repeat;
	width:868px;
	margin-top:6px;
	height:486px;
	padding:18px 0px 38px 30px;}	
	
.user_col1{
	float:left;
	width:158px;}	
	
.letest_text{
	text-align:center;
	font-size:18px;
	font-family:Myriad Pro;
	background:#131313;}	
	
.letest_text a{
	text-decoration:none;
	padding:10px 0px 8px;
	color:#fff;
	display:block;}	
	
.letest_text2{
	text-align:center;
	font-size:18px;
	font-family:Myriad Pro;
	background:#212121;}	
	
.letest_text2 a{
	text-decoration:none;
	padding:10px 0px 8px;
	color:#fff;
	display:block;}
	
.letest_text3{
	text-align:center;
	font-size:18px;
	font-family:Myriad Pro;
	background:#303030;}	
	
.letest_text3 a{
	text-decoration:none;
	padding:10px 0px 8px;
	color:#fff;
	display:block;}			
	
.letest_text4{
	text-align:center;
	font-size:18px;
	font-family:Myriad Pro;
	background:#000;
	border-radius:0px 0px 22px 22px;}	
	
.letest_text4 a{
	text-decoration:none;
	padding:10px 0px 8px;
	color:#fff;
	display:block;}				
	
.user_col2{
	float:left;
	width:384px;
	margin-left:64px;
	margin-top:126px;}	
	
.user_col2_textarea{
	margin-bottom:26px;
	width:326px;}	
	
.user_col2_textarea_size{
	width:324px;
	font-family:Myriad Pro;
	font-size:14px;
	height:150px;
	border:1px solid #99a2a7;
	color:#fff;
	background:url(/assets/strip.png) repeat-x;}
	
.user_field_button{
	margin-top:14px;}		
	
.user_col2_field{
	float:left;
	margin-right:1px;
	width:217px;}	
	
.user_col2_field_size{
	width:214px;
	font-family:Myriad Pro;
	font-size:14px;
	height:36px;
	border:1px solid #99a2a7;
	color:#fff;
	background:url(/assets/strip.png) repeat-x;}

a.user_col2_button{
	display:block;
	text-decoration:none;
	color:#fff;
	font-family:Myriad Pro;
	padding:5px 5px;
	font-size:21px;
	min-width:96px;
	text-align:center;
	border:1px solid #fff;
	background:url(/assets/button_bg.png) repeat-x;}
	
.remind_button_box{
	padding:26px 0px 0px 26px;}	
	
.remind_button{
	float:left;
	padding-right:24px;}	
	
.user_col3{
	float:left;
	width:230px;
	padding:0px 0px 70px;
	background:url(/assets/strip.png) repeat;}
	
.user_col3_text_box{
	border-bottom:2px solid #99a7e7;
	color:#fff;
	padding:10px 0px 14px 6px;
	font-family:Myriad Pro;
	line-height:24px;
	font-size:21px;}	
	
.user_col3_text_box p{
	padding-top:16px;}	
	
.user_col3_text_box2{
	color:#fff;
	padding:10px 0px 14px 6px;
	font-family:Myriad Pro;
	line-height:24px;
	font-size:21px;}
.error{
    color: #ff0000;
}
#notice{
    border: 1px solid #990000;
    color: #990000;
    float: left;
    font-size: 13px;
    margin-left: 205px;
    margin-right: 0;
    padding: 10px;
    position: absolute;
}
.search_booking{
 padding-left: 346px;
 margin-top: 41px;
}
a.check_availability1
{
    background: url("/assets/cloud_edit_bg.png") repeat-x scroll 0 0 transparent;
    padding:  9px 24px;
    border-radius: 5px;
    text-decoration: none;
}

/* Booking New Page (24-01-2013) */

.booking_body{
    background:#d2e7e6;
    border:1px solid #fff;
    padding:28px 0px 34px 108px;
    border-radius:4px;
    width:788px;
    margin-top:10px;}

.make_booking{
    background:#aecc76;
    border:2px solid #fff;
    padding:12px 0px 30px 18px;
    width:640px;}

.make_booking_text{
    font-size:20px;
    color:#fff;
    font-family:Myriad Pro;
    padding-bottom:12px;}

.make_button{
    margin-left:2px;
    margin-bottom: -3px;}

.make_drop_down_size{
    width:451px;
    height:33px;
    font-size:12px;
    border-radius:4px;
    border:1px solid #000;
    padding:7px 6px 5px 7px;}

.find_table_row{
    padding-top:12px;}

.find_table_box{
    float:left;
    padding-right:10px;}

.find_table_image{
    float:left;
    padding-right:5px;}

.find_table_drop_size{
    width:108px;
    height:33px;
    font-size:12px;
    border:1px solid #000;
    padding:7px 6px 5px 7px;}
.find_table_drop_size1{
    width:108px;
    height:19px;
    font-size:12px;
    border:1px solid #000;
    padding:7px 6px 5px 7px;
    background-color: #F2F1F0;
    }

.find_booking_table{
    width:664px;
    background:#fff;
    margin-top:10px;}

.find_booking_table	th{
    background:#509300;
    font-family:Myriad Pro;
    font-size:13px;
    color:#fff;
    font-weight:normal;
    padding:12px 0px 14px;}

.find_booking_table_heading{
    width:122px;
    border-right:1px solid #aecc76;}

.find_booking_table_heading_2{
    width:114px;
    border-right:1px solid #aecc76;}

.find_booking_table_heading_3{
    width:68px;
    border-right:1px solid #aecc76;}

.find_booking_table_heading_4{
    width:248px;
    border-right:1px solid #aecc76;}

.find_booking_table td{
    padding:20px 0px 22px;
    text-align:center;
    font-size:13px;
    border-right:1px solid #aecc76;
    border-bottom:1px solid #aecc76;
    font-family:Myriad Pro;
    color:#696969;}

.time_cafe_box {
    padding-left:12px;}

.cafe_green_box_active {
    background: url("/assets/green_box.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    font-size: 14px;
    margin: 1px;
    padding: 6px 6px 6px 5px;
    text-align: center;}

.cafe_green_box {
    float: left;
    font-size: 14px;
    margin: 1px;}

.cafe_green_box a {
    background: url("/assets/brown_box.png") no-repeat scroll 0 0 transparent;
    color: #43632E;
    display: block;
    padding: 6px 6px 6px 5px;
    text-decoration: none;}

.cafe_green_box a:hover{
    background: url("/assets/green_box.png") no-repeat scroll 0 0 transparent;
    color:#fff;}